AICORE_SERVICE_KEY='{"clientid": "<your-client-id>","clientsecret": "<your-client-secret>","url": "https://<your-subdomain>.authentication.<region>.hana.ondemand.com","serviceurls": {"AI_API_URL": "https://api.ai.prod.<region>.aws.ml.hana.ondemand.com"}}'
